# Ignore Composer vendor directory
/vendor

# Ignore the .vagrant folder
/.vagrant

# *** DRUPAL ***
/docroot/core
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/*/files
/files-private

# Ignore all local type files.
local.*

# Ignore build artifacts
/deploy

# Misc
/.idea
