# Ignore Composer vendor directory
/vendor

# *** DRUPAL ***
/docroot/core
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/*/files
/files-private
/drush/Commands/contrib

# Ignore all local type files.
local.*

# Ignore build artifacts
/html

# Misc
/.idea
